@font-face {
	font-family: SoleSans;
	src: url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Regular.eot);
	src: url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Regular.eot?#iefix) format("eot"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Regular.woff2) format("woff2"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Regular.woff) format("woff"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: SoleSans;
	src: url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Medium.eot);
	src: url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Medium.eot?#iefix) format("eot"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Medium.woff2) format("woff2"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Medium.woff) format("woff"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: SoleSans;
	src: url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Bold.eot);
	src: url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Bold.eot?#iefix) format("eot"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Bold.woff2) format("woff2"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Bold.woff) format("woff"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: SoleSans;
	src: url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-ExtraBold.eot);
	src: url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-ExtraBold.eot?#iefix) format("eot"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-ExtraBold.woff2) format("woff2"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-ExtraBold.woff) format("woff"), url(//c2.res.24o.it/fonts/sole-sans/Sole24SansW-ExtraBold.ttf) format("truetype");
	font-weight: 800;
	font-style: normal
}
