/* qui mettere le variabili che potrebbero cambiare */
:root {
  --font-paragrafi: 21px;
  --regular: 400;
  --bold: 700;
  --corallo: #fc4646;
  --ciano: #83f9f3;
  --grigio-scuro: #1c1c1c;
  --grigio-chiaro: #4a4a4a;
  --bianco: #ededef;
  --viola: #7E3FE5;
}

div {
  border:0px solid blue;
}

body {
  background-color: var(--grigio-scuro);
  margin: 0;
  color: var(--corallo);
  font-family: Sole24Serif;
}

.paragrafo-bianco {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'sole_text';
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-paragrafi);
  line-height: 140.4%;
  color: var(--bianco);
}

.fonti {
  font-family: 'SoleSans';
  font-style: normal;
  font-weight: var(--regular);
  font-size: 11px;
  color: var(--bianco);
}

/* TOP-BAR */

.top-bar {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 65px;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--bianco);
}

.top-bar_sx {
  width: 60px;
  padding-left: 20px;
}

.top-bar_centro {
  width: 80px;
}

.top-bar_dx {
  position: relative;
  padding-right: 20px;
  display: flex;
}

.logo_social {
  position: relative;
  align-items: center;
  width: 30px;
}


/* COPERTINA */

#container-copertina {
  background-color: var(--corallo);
  height: auto;
  margin: auto;
  width: auto;
}

#copertina {
  background-color: var(--corallo);
  width: 974px;
  margin: auto;
}

.titolo {
  height: auto;
}

h1 {
  padding-top: 200px;
  margin: auto;
  font-family: 'sole_display';
  font-style: normal;
  font-weight: var(--bold);
  font-size: 113px;
  line-height: 93.5%;
  color: var(--grigio-scuro);
}

div span.titolo {
  font-family: 'sole_display';
  font-style: italic;
  font-weight: var(--regular);
  font-size: 113px;
  line-height: 93.5%;
  color: var(--grigio-scuro);
}

#info {
  font-family: 'sole_display';
  font-style: normal;
  font-weight: var(--bold);
  font-size: 30px;
  line-height: 35px;
  color: var(--bianco);
}

#paragrafo-nero {
  margin-top: 100px;
  padding-bottom: 50px;
  font-family: 'sole_text';
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-paragrafi);
  line-height: 140.4%;
  color: var(--grigio-scuro);
}

/* CONTAINER */

.container {
  width: 974px;
  flex-direction: column;
  margin: auto;
}

/* CONTAINER ARSENALI */

.container-arsenali {
  flex-direction: column;
}

h2 {
  margin: auto;
  padding-top: 50px;
  font-family: 'sole_display';
  font-style: normal;
  font-weight: var(--bold);
  font-size: 60px;
  line-height: 102%;
  color: var(--corallo);
}

.linea_titoletto {
  width: 42px;
  border: 1px solid var(--bianco);
  margin-left: 0em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h3 {
  margin: auto;
  font-family: 'sole_display';
  font-style: normal;
  font-weight: var(--regular);
  font-size: 30px;
  line-height: 100%;
  color: var(--bianco);
}

div span.titoletto {
  font-family: 'sole_display';
  font-style: italic;
  font-weight: var(--regular);
  font-size: 60px;
  line-height: 102%;
  color: var(--corallo);
}


#data1-tabella {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #fc4646; */
}

#data1 {
  width: 601px;
  height: auto;
  margin-top: 50px;
  /* background-color: #7E3FE5; */
}

#data1 .st0 {
  fill: #1C1C1C;
  transition: all 0.35s linear;
}

#data1 .st1 {
  fill: none;
  stroke: #4A4A4A;
  stroke-miterlimit: 10;
  transition: all 0.35s linear;
}

#data1 .st2 {
  fill: none;
  stroke: #EDEDEF;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transition: all 0.35s linear;
}

#data1 .st3 {
  fill: #FC4646;
  transition: all 0.35s linear;
}

#data1 .st4 {
  font-family: 'SoleSans';
  transition: all 0.35s linear;
}

#data1 .st5 {
  font-size: 38px;
  transition: all 0.35s linear;
}

#data1 .st6 {
  fill: #83F9F3;
  transition: all 0.35s linear;
}

#data1 .st7 {
  fill: #7E3FE5;
  transition: all 0.35s linear;
}

#data1 .st8 {
  fill: #1C1C1C;
  stroke: #EDEDEF;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transition: all 0.35s linear;
}

#data1 .st10 {
  fill: #1C1C1C;
  stroke: #EDEDEF;
  stroke-width: 0.5;
  transition: all 0.35s linear;
}

#data1 .st11 {
  fill: #EDEDEF;
  stroke: #1C1C1C;
  transition: all 0.35s linear;
}

#data1 .st12 {
  fill: none;
  stroke: #EDEDEF;
  stroke-miterlimit: 10;
  transition: all 0.35s linear;
}

#data1 #cerchio_pallina .st8 {
  display: none;
  transition: all 0.35s linear;
}

#data1 #cerchio_pallina {
  transform: rotate(0);
  transition: all 0.35s linear;
}

#nome_usa {
  display: none;
  transition: all 0.35s linear;

}

#nome_altri {
  display: none;
  transition: all 0.35s linear;

}

#nome_rus {
  display: none;
  transition: all 0.35s linear;

}

#tabella {
  width: 248px;
}

.voce_tabella_russia,
.voce_tabella_usa,
.voce_tabella_altri {
  height: 60px;
  font-size: 16px;
  line-height: 18.46px;
  color: #ededef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--grigio-scuro);
  transition: all 0.35s linear;
}

.testo_tabella {
  margin: 0;
  height: 16px;
  font-family: 'sole_display';
  font-style: normal;
  font-weight: 400;
}

.cifra_tabella {
  margin: 0;
  height: 16px;
  font-family: 'sole_text';
  font-style: normal;
  font-weight: lighter;
}

.linea_tabella {
  margin: 0;
  width: 248px;
  border: 0.5px solid var(--grigio-chiaro);
}

.linea_spessa_tabella {
  margin: 0;
  width: 248px;
  border: 1px solid var(--bianco);

}

/* #paesi, #num-testate {
    font-family: 'Sole24Serif Headline';
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.46px;
    color: var(--bianco);
    margin-top: 35px;
    margin-left: 25px;
} */

/* CONTAINER TIMELINE */

#data2 .st0 {
  fill: none;
  stroke: #83F9F3;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st1 {
  fill: none;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st2 {
  fill: #83F9F3;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st3 {
  font-family: 'sole_display';
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st4 {
  font-size: 24px;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st5 {
  fill: none;
  stroke: #83F9F3;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st6 {
  fill: #EDEDEF;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st7 {
  font-family: SoleSans;
  font-weight: 400;
  font-style: normal;
  opacity: 0;
  color: #ededef;
  fill: #ededef;
  transition: all 0.35s linear;
}

#data2 .st8 {
  font-size: 16px;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st9 {
  fill: #6FD0CB;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st10 {
  font-size: 14px;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st11 {
  fill: #FF514B;
  opacity: 0;
  transition: all 0.35s linear;

}

#data2 .st12 {
  fill: none;
  stroke: #FF514B;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st13 {
  fill: none;
  stroke: #FF514B;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st14 {
  fill: none;
  stroke: #7E3FE6;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st15 {
  fill: none;
  stroke: #7E3FE6;
  stroke-width: 2;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st16 {
  fill: #7E3FE6;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 #Base_permanente .st1,
#data2 #Base_permanente .st3,
#data2 #Base_permanente .st4,
#data2 #Base_permanente .st6,
#data2 #Base_permanente .st7,
#data2 #Base_permanente .st10 {
  opacity: 1;
  transition: all 0.35s linear;
}

#data2 .st17 {
  opacity: 0.2;
  fill: none;
  stroke: #EDEDEF;
  stroke-width: 1.5;
  transition: all 0.35s linear;
}

#data2 .st18 {
  fill: #EDEDEF;
  opacity: 0;
  transition: all 0.35s linear;
}

#data2 .st19 {
  font-size: 12px;
  transition: all 0.35s linear;
}

#data2 .st20 {
  fill: none;
  stroke: #EDEDEF;
  stroke-width: 0.5;
  transition: all 0.35s linear;
}

#data2 .st21 {
  fill: var(--grigio-scuro);
  stroke: #83F9F3;
  stroke-miterlimit: 10;
  transition: all 0.35s linear;
}

#data2 .st22 {
  opacity: 0.7;
  fill: var(--grigio-scuro);
  stroke: #FC4646;
  transition: all 0.35s linear;
}

#data2 .st23 {
  fill: var(--grigio-scuro);
  stroke: #7E3FE6;
  transition: all 0.35s linear;
}

#data2 #Base_permanente #trentamila {
  opacity: 1;
  transition: all 0.35s linear;
}

#data2 #Base_permanente #quarantamila {
  opacity: 1;
  transition: all 0.35s linear;
}


/* CONTAINER TRATTATO */

#slider {
  width: 226px;
  height: 33px;
  fill: none;
  border: 1px solid var(--bianco);
  border-radius: 25px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 25px;
}

#tasto_nazioni {
  background: var(--bianco);
  width: 105px;
  height: 25px;
  border-radius: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.35s linear;
}

div#tasto_nazioni p {
  color: var(--grigio-scuro);
  font-family: 'SoleSans';
  font-style: normal;
  font-weight: var(--regular);
  font-size: 12px;
}

#tasto_popolazioni {
  background: var(--grigio-scuro);
  width: 105px;
  height: 25px;
  border-radius: 157px;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  transition: 0.35s linear;
}

div#tasto_popolazioni p {
  color: var(--bianco);
  font-family: 'SoleSans';
  font-style: normal;
  font-weight: var(--regular);
  font-size: 12px;
}

.tab-trattato-wrapper svg {
  margin-top: 15px;
}

#intro-firmatari {
  font-family: 'sole_text';
  font-style: normal;
  font-weight: var(--regular);
  font-size: 24px;
  color: var(--bianco);
}

#firmatari-corallo {
  color: var(--corallo);
}

#firmatari-ciano {
  color: var(--ciano);
}

#nazioni span {
  color: var(--ciano);
}

.trattato-wrapper {
  position: relative;
  height: 556px;
  margin-bottom: 80px;
}

.tab-trattato#popolazioni {
  height: 556px;
  margin: 0 auto;
}

.tab-trattato#popolazioni .tab-trattato-wrapper {
  width: 360px;
}

.tab-trattato#nazioni {
  height: 556px;
  margin: auto;
  font-family: 'SoleSans';
  font-style: normal;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  text-transform: uppercase;
  color: var(--corallo);
}

.tab-trattato#nazioni .tab-trattato-wrapper {
  width: 478px;
}

.tab-trattato {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.35s linear;
  display: flex;
  justify-content: center;
  width: 100%;
}

.tab-trattato.visible {
  opacity: 1;
}

#firmatari .st0 {
  fill: #83F9F3;
}

#non-firmatari .st3 {
  fill: #FC4646;
}

#firmatari,
#non-firmatari .st1 {
  font-family: 'SoleSans';
  font-size: 10px;
  color: var(--grigio-scuro);
}

#firmatari,
#non-firmatari .st2 {
  font-family: 'SoleSans';
  font-size: 10px;
}

/* VIZ3 */
#data3 {
  position: relative;
  margin-top: -200px;
}

#data3 .st0 {
  fill: none;
  stroke: url(#SVGID_1_);
  stroke-miterlimit: 10;
}

#data3 .st1 {
  fill: none;
  stroke: url(#SVGID_00000054259048619618156310000005072338110409748615_);
  stroke-miterlimit: 10;
}

#data3 .st2 {
  fill: none;
  stroke: url(#SVGID_00000135650738634981711710000013858857288053896364_);
  stroke-miterlimit: 10;
}

#data3 .st3 {
  fill: none;
  stroke: url(#SVGID_00000159447822027784838820000018242590816636742816_);
  stroke-miterlimit: 10;
}

#data3 .st4 {
  fill: none;
  stroke: url(#SVGID_00000141436354782944714090000009271273959409223829_);
  stroke-miterlimit: 10;
}

#data3 .st5 {
  fill: none;
  stroke: url(#SVGID_00000058557606988844574190000007670943251292381856_);
  stroke-miterlimit: 10;
}

#data3 .st6 {
  fill: none;
  stroke: url(#SVGID_00000111184157269642070340000000055047912759310478_);
  stroke-miterlimit: 10;
}

#data3 .st7 {
  fill: none;
  stroke: url(#SVGID_00000118369438724818908530000002167172241378134971_);
  stroke-miterlimit: 10;
}

#data3 .st8 {
  fill: none;
  stroke: url(#SVGID_00000158722399084636049540000003918210764567957392_);
  stroke-miterlimit: 10;
}

#data3 .st10 {
  fill: #83F9F3;
}

#data3 .st11 {
  fill: #1C1C1C;
}

#data3 .st12 {
  font-family: "SoleSans";
}

#data3 .st13 {
  font-size: 16px;
}

#data3 .st14 {
  fill: #7E3FE5;
}

#data3 .st15 {
  fill: #EDEDEF;
}

#data3 .st16 {
  fill: #FF514B;
}

#data3 .st17 {
  font-size: 16px;
}

#data3 .st18 {
  font-size: 14px;
}

.container-spese{
  overflow-x:hidden;
}

.PALLA_USA,
.PALLA_CINA,
.PALLA_RUSSIA,
.PALLA_GRANBRETAGNA,
.PALLA_FRANCIA,
.PALLA_INDIA,
.PALLA_ISRAELE,
.PALLA_PAKISTAN,
.PALLA_COREANORD {
  transition: all 0.35s linear;
  opacity: 0;
}

.LINEA_USA,
.LINEA_CINA,
.LINEA_RUSSIA,
.LINEA_GRANBRETAGNA,
.LINEA_FRANCIA,
.LINEA_INDIA,
.LINEA_ISRAELE,
.LINEA_PAKISTAN,
.LINEA_COREANORD {
  fill: none;
  transition: all 0.35s linear;
  stroke: #6D6D6C;
  stroke-width: 1px;
}

/* CONTAINER BANCHE */

#data4 .st0 {
  fill: #4A4A4A;
  transition: all 0.35s linear;
}

#data4 .st1 {
  fill: #1C1C1C;
  transition: all 0.35s linear;
}

#data4 .st2 {
  font-family: SoleSans;
  transition: all 0.35s linear;
}

#data4 .st3 {
  font-size: 200px;
  transition: all 0.35s linear;
}

#data4 .st4 {
  fill: #EDEDEF;
  transition: all 0.35s linear;
}

#data4 .st5 {
  font-size: 40px;
  transition: all 0.35s linear;
}

#data4 .st6 {
  font-size: 20px;
  transition: all 0.35s linear;
}

#data4 .st7 {
  font-size: 100px;
  transition: all 0.35s linear;
}

#data4 .st8 {
  font-size: 24px;
  transition: all 0.35s linear;
}

#data4 .st9 {
  font-size: 14px;
  transition: all 0.35s linear;
}

#data4 .st10 {
  font-size: 30px;
  transition: all 0.35s linear;
}

#data4 .st11 {
  font-size: 25px;
  transition: all 0.35s linear;
}

#data4 .st12 {
  font-size: 35px;
  transition: all 0.35s linear;
}

#data4 .st13 {
  font-size: 15px;
  transition: all 0.35s linear;
}

#data4 .st14 {
  fill: #FC4646;
  transition: all 0.35s linear;
}

#data4 .st15 {
  font-size: 51px;
  transition: all 0.35s linear;
}

#data4 .st16 {
  font-size: 28px;
  transition: all 0.35s linear;
}

#data4 .st17 {
  font-size: 13.8293px;
  transition: all 0.35s linear;
}

#data4 .riquadro {
  transition: all 0.35s linear;
}

.tooltip {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s linear;
}

#Uc_details,
#Isp_details {
  opacity: 0;
  transition: 0.35s linear;
}

/* CONTAINER TIMER */

#sottotitolo-timer {
  font-family: 'sole_text';
  font-style: normal;
  font-weight: var(--regular);
  font-size: 20px;
  color: var(--bianco);
}

#soldi-spesi {
  font-family: 'sole_display';
  font-style: normal;
  font-weight: var(--regular);
  font-size: 195px;
  color: var(--corallo);
  text-align: center;
  margin: 50px 50px -20px 50px;
}

/* CONTAINER FOOTER */

#container-footer {
  background-color: black;
  height: auto;
  margin: auto;
  width: auto;
}

#footer {
  background-color: black;
  width: 974px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 50px;
}

.logo_unirsm {
  width: 70px;
  padding-right: 40px;
}

.column-footer {
  width: 45%;
}

.text-footer {
  font-family: 'SoleSans';
  font-style: normal;
  font-size: 14px;
  color: white;
  font-weight: 300;
  margin: auto;
}

div span.bold-footer {
  font-family: 'SoleSans';
  font-style: normal;
  font-weight: var(--bold);
  font-size: 14px;
}