@font-face {
	font-family: 'sole_display';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Lt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Lt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Lt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Lt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Lt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Lt.svg#SoleSerifDisplay_W_Lt') format('svg');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'sole_display';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_LtIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_LtIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_LtIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_LtIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_LtIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_LtIt.svg#SoleSerifDisplay_W_LtIt') format('svg');
	font-weight: 300;
	font-style: italic
}

@font-face {
	font-family: 'sole_display';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Rg.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Rg.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Rg.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Rg.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Rg.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Rg.svg#SoleSerifDisplay_W_Rg') format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'sole_display';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_RgIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_RgIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_RgIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_RgIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_RgIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_RgIt.svg#SoleSerifDisplay_W_RgIt') format('svg');
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: 'sole_display';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Bl.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Bl.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Bl.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Bl.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Bl.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_Bl.svg#SoleSerifDisplay_W_Bl') format('svg');
	font-weight: 800;
	font-style: normal
}

@font-face {
	font-family: 'sole_display';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_BlIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_BlIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_BlIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_BlIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_BlIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_BlIt.svg#SoleSerifDisplay_W_BlIt') format('svg');
	font-weight: 800;
	font-style: italic
}

@font-face {
	font-family: 'sole_display';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBl.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBl.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBl.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBl.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBl.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBl.svg#SoleSerifDisplay_W_ExBl') format('svg');
	font-weight: 900;
	font-style: normal
}

@font-face {
	font-family: 'sole_display';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBlIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBlIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBlIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBlIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBlIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplay_W_ExBlIt.svg#SoleSerifDisplay_W_ExBlIt') format('svg');
	font-weight: 900;
	font-style: italic
}

@font-face {
	font-family: 'sole_hairline';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_Rg.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_Rg.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_Rg.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_Rg.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_Rg.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_Rg.svg#SoleSerifHairline_W_Rg') format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'sole_hairline';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_RgIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_RgIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_RgIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_RgIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_RgIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairline_W_RgIt.svg#SoleSerifHairline_W_RgIt') format('svg');
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: 'sole_headline';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Lt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Lt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Lt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Lt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Lt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Lt.svg#SoleSerifHeadline_W_Lt') format('svg');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'sole_headline';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_LtIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_LtIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_LtIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_LtIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_LtIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_LtIt.svg#SoleSerifHeadline_W_LtIt') format('svg');
	font-weight: 300;
	font-style: italic
}

@font-face {
	font-family: 'sole_headline';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Rg.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Rg.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Rg.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Rg.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Rg.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Rg.svg#SoleSerifHeadline_W_Rg') format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'sole_headline';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_RgIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_RgIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_RgIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_RgIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_RgIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_RgIt.svg#SoleSerifHeadline_W_RgIt') format('svg');
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: 'sole_headline';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Md.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Md.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Md.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Md.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Md.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Md.svg#SoleSerifHeadline_W_Md') format('svg');
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'sole_headline';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_MdIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_MdIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_MdIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_MdIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_MdIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_MdIt.svg#SoleSerifHeadline_W_MdIt') format('svg');
	font-weight: 500;
	font-style: italic
}

@font-face {
	font-family: 'sole_headline';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Bd.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Bd.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Bd.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Bd.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Bd.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_Bd.svg#SoleSerifHeadline_W_Bd') format('svg');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'sole_headline';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_BdIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_BdIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_BdIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_BdIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_BdIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadline_W_BdIt.svg#SoleSerifHeadline_W_BdIt') format('svg');
	font-weight: 700;
	font-style: italic
}

@font-face {
	font-family: 'sole_text';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Lt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Lt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Lt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Lt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Lt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Lt.svg#SoleSerifText_W_Lt') format('svg');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'sole_text';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_LtIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_LtIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_LtIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_LtIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_LtIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_LtIt.svg#SoleSerifText_W_LtIt') format('svg');
	font-weight: 300;
	font-style: italic
}

@font-face {
	font-family: 'sole_text';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Rg.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Rg.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Rg.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Rg.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Rg.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Rg.svg#SoleSerifText_W_Rg') format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'sole_text';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_RgIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_RgIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_RgIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_RgIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_RgIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_RgIt.svg#SoleSerifText_W_RgIt') format('svg');
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: 'sole_text';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bd.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bd.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bd.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bd.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bd.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bd.svg#SoleSerifText_W_Bd') format('svg');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'sole_text';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BdIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BdIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BdIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BdIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BdIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BdIt.svg#SoleSerifText_W_BdIt') format('svg');
	font-weight: 700;
	font-style: italic
}

@font-face {
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bl.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bl.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bl.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bl.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bl.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_Bl.svg#SoleSerifText_W_Bl') format('svg');
	font-weight: 800;
	font-style: normal
}

@font-face {
	font-family: 'sole_text';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BlIt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BlIt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BlIt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BlIt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BlIt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifText_W_BlIt.svg#SoleSerifText_W_BlIt') format('svg');
	font-weight: 800;
	font-style: italic
}

.sole_display {
	font-family: "sole_display", Georgia, Times, "Times New Roman", serif
}

.sole_hairline {
	font-family: "sole_hairline", Georgia, Times, "Times New Roman", serif
}

.sole_headline {
	font-family: "sole_headline", Georgia, Times, "Times New Roman", serif
}

.sole_text {
	font-family: "sole_text", Georgia, Times, "Times New Roman", serif
}

@font-face {
	font-family: 'sole_display_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Lt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Lt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Lt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Lt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Lt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Lt.svg#SoleSerifDisplaySC_W_Lt') format('svg');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'sole_display_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Rg.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Rg.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Rg.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Rg.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Rg.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Rg.svg#SoleSerifDisplaySC_W_Rg') format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'sole_display_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Bl.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Bl.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Bl.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Bl.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Bl.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_Bl.svg#SoleSerifDisplaySC_W_Bl') format('svg');
	font-weight: 800;
	font-style: normal
}

@font-face {
	font-family: 'sole_display_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_ExBl.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_ExBl.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_ExBl.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_ExBl.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_ExBl.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifDisplaySC_W_ExBl.svg#SoleSerifDisplaySC_W_ExBl') format('svg');
	font-weight: 900;
	font-style: normal
}

@font-face {
	font-family: 'sole_hairline_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairlineSC_W_Rg.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairlineSC_W_Rg.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairlineSC_W_Rg.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairlineSC_W_Rg.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairlineSC_W_Rg.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHairlineSC_W_Rg.svg#SoleSerifHairlineSC_W_Rg') format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'sole_headline_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Lt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Lt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Lt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Lt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Lt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Lt.svg#SoleSerifHeadlineSC_W_Lt') format('svg');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'sole_headline_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Rg.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Rg.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Rg.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Rg.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Rg.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Rg.svg#SoleSerifHeadlineSC_W_Rg') format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'sole_headline_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Md.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Md.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Md.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Md.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Md.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Md.svg#SoleSerifHeadlineSC_W_Md') format('svg');
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'sole_headline_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Bd.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Bd.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Bd.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Bd.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Bd.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifHeadlineSC_W_Bd.svg#SoleSerifHeadlineSC_W_Bd') format('svg');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'sole_text_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Lt.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Lt.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Lt.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Lt.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Lt.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Lt.svg#SoleSerifTextSC_W_Lt') format('svg');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'sole_text_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Rg.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Rg.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Rg.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Rg.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Rg.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Rg.svg#SoleSerifTextSC_W_Rg') format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'sole_text_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bd.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bd.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bd.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bd.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bd.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bd.svg#SoleSerifTextSC_W_Bd') format('svg');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'sole_text_sc';
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bl.eot');
	src: url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bl.eot?#iefix') format('embedded-opentype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bl.woff2') format('woff2'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bl.woff') format('woff'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bl.ttf') format('truetype'), url('//c2.res.24o.it/fonts/w-fonts/SoleSerifTextSC_W_Bl.svg#SoleSerifTextSC_W_Bl') format('svg');
	font-weight: 800;
	font-style: normal
}

.sole_display_sc {
	font-family: "sole_display_sc", "sole_display", Georgia, Times, "Times New Roman", serif
}

.sole_hairline_sc {
	font-family: "sole_headline_sc", "sole_headline", Georgia, Times, "Times New Roman", serif
}

.sole_headline_sc {
	font-family: "sole_headline_sc", "sole_headline", Georgia, Times, "Times New Roman", serif
}

.sole_text_sc {
	font-family: "sole_text_sc", "sole_text", Georgia, Times, "Times New Roman", serif
}
